@model StratasFair.BusinessEntity.Front.StrataOwnerModel

<script type="text/javascript">

    function FnOwnerAddBegin() {
        $("#btnSubmit").hide();
        $("#dvLoader").show();
    }

    function FnOwnerAddSuccess(data) {

        $("#btnSubmit").show();
        $("#dvLoader").hide();
        if (data.result == 0) {
            $("#FirstName").val('');
            $("#LastName").val('');
            $("#Email").val('');
            $("#UnitNumber").val('');

            swal({
                type: "success",
                title: "Success",
                showConfirmButton: true,
                showCancelButton: false,
                confirmButtonText: "OK",
                closeOnConfirm: true,
                text: "<b>" + data.Msg + "</b>",
                html: true
            }, function () {
                window.location = window.location;
            });
        }
        else {
            if (data.result == -1) {
                $("#Email").val('');
            }
            swal({
                type: "warning",
                title: "Failed",
                showConfirmButton: true,
                showCancelButton: false,
                confirmButtonText: "OK",
                closeOnConfirm: true,
                text: "<b>" + data.Msg + "</b>",
                html: true
            });
        }
    }

</script>


<div class="modal-body">
    <h5 class="text-center">Add Owner</h5>
    @using (Ajax.BeginForm("AddStrataOwner", "managestrataowner", FormMethod.Post, new AjaxOptions { OnSuccess = "FnOwnerAddSuccess(data)", OnBegin = "FnOwnerAddBegin()" }, new { @class = "form-section", @id = "frmAddStrataOwner" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>First Name<span class="required">*</span></label>
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @value = "", @type = "text", @maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Last Name<span class="required">*</span></label>
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @value = "", @type = "text", @maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Email Address <span class="required">*</span></label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @text = "", @type = "text", @maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Unit Number <span class="required">*</span></label>
                    @Html.TextBoxFor(m => m.UnitNumber, new { @class = "form-control", @text = "", @type = "text", @maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.UnitNumber)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="form-group">
                    <input id="btnSubmit" name="submit" value="Submit" class="btn btn-sm btn-block btn-yellow" type="submit" />
                    <div id="dvLoader" style="display:none; text-align:center">
                        <img src="@Url.Content("~/content/images/loader.gif")" alt="loader" />
                    </div>
                </div>
            </div>
        </div>
    }<!-- form-section End -->
</div>