@model IEnumerable<StratasFair.BusinessEntity.Front.AlertAndNotificationModel>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                if (item.MessageType == 1)
                {
                    <tr style="background-color:lightgrey">

                        <td data-title="Type" class="type">
                            <a href="javascript:void(0)" onclick="ViewAlertAndNotificationDetails(@item.AlertNotificationId)" data-toggle="modal" data-target="#view-alert">@item.MessageTypeName</a>
                        </td>
                        <td data-title="Title" class="title">
                            <a href="javascript:void(0)" onclick="ViewAlertAndNotificationDetails(@item.AlertNotificationId)" data-toggle="modal" data-target="#view-alert">@item.Title</a>
                        </td>
                        <td data-title="Message" class="message">@item.Message</td>
                        <td data-title="Added On" class="added-on">@item.CreatedOn</td>
                        <td data-title="Action" class="action">
                            <a href="javascript:void(0)" onclick="ResendAlertAndNotification(@item.AlertNotificationId)" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Resend">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <a href="javascript:void(0)" onclick="EditAlertAndNotificationDetails(@item.AlertNotificationId)" data-toggle="modal" data-target="#edit-alert" data-placement="bottom" title="" data-original-title="Edit">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="javascript:void(0)" onclick="DeleteAlertAndNotificationDetails(@item.AlertNotificationId)" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>

                        <td data-title="Type" class="type">
                            <a href="javascript:void(0)" onclick="ViewAlertAndNotificationDetails(@item.AlertNotificationId)" data-toggle="modal" data-target="#view-alert">@item.MessageTypeName</a>
                        </td>
                        <td data-title="Title" class="title">
                            <a href="javascript:void(0)" onclick="ViewAlertAndNotificationDetails(@item.AlertNotificationId)" data-toggle="modal" data-target="#view-alert">@item.Title</a>
                        </td>
                        <td data-title="Message" class="message">@item.Message</td>
                        <td data-title="Added On" class="added-on">@item.CreatedOn</td>
                        <td data-title="Action" class="action">
                            <a href="javascript:void(0)" onclick="ResendAlertAndNotification(@item.AlertNotificationId)" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Resend">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <a href="javascript:void(0)" onclick="EditAlertAndNotificationDetails(@item.AlertNotificationId)" data-toggle="modal" data-target="#edit-alert" data-placement="bottom" title="" data-original-title="Edit">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="javascript:void(0)" onclick="DeleteAlertAndNotificationDetails(@item.AlertNotificationId)" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }


            }
        }
        else
        {
            <tr>
                <td style="text-align:center" data-title="First Name" colspan="9" class="f-name">
                    <span class="text-orange">No Record Found</span>
                </td>
            </tr>
        }
    }
}