@model StratasFair.BusinessEntity.Front.StrataOwnerBookingRequestModel


@*@section scripts{
    <script src="@Url.Content("~/Content/js/jquery-ui.js")"></script>
 }

@section styles{
        <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
 }*@
    <script type="text/javascript">

        function FnAddOwnerRequestBookingBegin() {
            $("#btnSubmit").hide();
            $("#dvLoader").show();
        }

        function FnAddOwnerRequestBookingSuccess(data) {

            $("#btnSubmit").show();
            $("#dvLoader").hide();
            if (data.result == 1) {
                //$("#RequestTitle").val('');
                //$("#Details").val('');

                swal({
                    type: "success",
                    title: "Success",
                    showConfirmButton: true,
                    showCancelButton: false,
                    confirmButtonText: "OK",
                    closeOnConfirm: true,
                    text: "<b>" + data.Msg + "</b>",
                    html: true
                }, function () {
                    window.location = window.location;
                });
            }
            else {
                swal({
                    type: "warning",
                    title: "Failed",
                    showConfirmButton: true,
                    showCancelButton: false,
                    confirmButtonText: "OK",
                    closeOnConfirm: true,
                    text: "<b>" + data.Msg + "</b>",
                    html: true
                });
            }
        }
    </script>

@using (Ajax.BeginForm("AddOwnerBookingRequest", "OwnerRequestBooking", FormMethod.Post, new AjaxOptions { OnSuccess = "FnAddOwnerRequestBookingSuccess(data)", OnBegin = "FnAddOwnerRequestBookingBegin()" }, new { @class = "form-section", @id = "frmAddOwnerBookingRequest" }))
    {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.BookingRequestId)
    @Html.HiddenFor(m => m.UserClientId)
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
                @*<select class="selectpicker form-control" data-max-options="1">
                        <option>Common Area</option>
                        <option>Common Area 2</option>
                        <option>Common Area 3</option>
                        <option>Common Area 4</option>
                        <option>Common Area 5</option>
                        <option>Common Area 6</option>
                    </select>*@
                @Html.DropDownListFor(m => m.CommonAreas, Model.CommonAreas, "CommonArea", new { @class = "form-control"})
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
                @Html.TextBoxFor(m => m.FromDate, new { @id = "datepicker", @class = "calendar-icon form-control", @placeholder = "From Date"})
                @*<input name="From Date" id="datepicker" class="calendar-icon form-control" value="" type="text" placeholder="From Date">*@
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
                @Html.TextBoxFor(m => m.ToDate, new { @id = "datepicker2", @class = "calendar-icon form-control", @placeholder="To Date" })
                @*<input name="To Date" id="datepicker2" class="calendar-icon form-control" value="" type="text" placeholder="To Date">*@
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @placeholder="Subject"})
                @*<input name="Subject" class="form-control" value="" type="text" placeholder="Subject">*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="form-group">
                @Html.TextAreaFor(m => m.Reason, new{ @placeholder="Reason" })
                @*<textarea placeholder="Reason"></textarea>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <div class="form-group">
                <input name="submit" id="btnSubmit" value="Submit" class="btn btn-sm btn-block btn-yellow" type="submit">
                <div id="dvLoader" style="display:none; text-align:center">
                    <img src="@Url.Content("~/content/images/loader.gif")" alt="loader" />
                </div>
            </div>
        </div>
    </div>
}<!-- Form End -->
