@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
@using StratasFair.Business.Front;
@using StratasFair.BusinessEntity.Front;
@model IEnumerable<StratasFair.BusinessEntity.Front.SubAdminModel>

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/sweetalert.js")"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            debugger;
            var BlockNumber = 2;  //Infinate Scroll starts from second block
            var NoMoreData = false;
            var inProgress = false;
            var Count = $("#hdnModelRecordCount").val();
            if (Count > 11) {
                $(window).scroll(function () {
                    if ($(window).scrollTop() == $(document).height() -
                    $(window).height() && !NoMoreData && !inProgress) {

                        inProgress = true;
                        $("#dvLoader").show();
                        $.post("@Url.Action("InfinateScroll", "ManageSubAdmin")",
                            { "BlockNumber": BlockNumber },
                            function (data) {
                                BlockNumber = BlockNumber + 1;
                                NoMoreData = data.NoMoreData;
                                $("#ListSubAdminBody").append(data.HTMLString);
                                $("#dvLoader").hide();
                                inProgress = false;
                            });
                    }
                });
            }

        })
        function AddUserDetails(SubAdminId) {

            $('#AddSubAdminDiv').html('');
            $.ajax({
                type: 'GET',
                url: '@Url.Content("~/" + ClientSessionData.ClientPortalLink + "/managesubadmin/AddSubAdmin")',
                dataType: 'html',
                success: function (result) {
                    $('#AddSubAdminDiv').html(result);
                    $.validator.unobtrusive.parse('#frmAddSubAdmin');
                }
            });
        }

        function ShowUserPrivilege(SubAdminId) {

            $('#SubAdminPrivilege').html('');
            $.ajax({
                type: 'GET',
                url: '@Url.Content("~/"+ClientSessionData.ClientPortalLink+"/managesubadmin/ViewUserPrivileges")',
                dataType: 'html',
                data: { SubAdminId: SubAdminId },
                success: function (result) {
                    $('#SubAdminPrivilege').html(result);
                }
            });
        }

        function EditUserDetails(SubAdminId) {

            $('#EditSubAdminDiv').html('');
            $.ajax({
                type: 'GET',
                url: '@Url.Content("~/" + ClientSessionData.ClientPortalLink + "/managesubadmin/EditSubAdmin")',
                dataType: 'html',
                data: { SubAdminId: SubAdminId },
                success: function (result) {
                    $('#EditSubAdminDiv').html(result);
                    $.validator.unobtrusive.parse('#frmEditSubAdmin');
                    // location.reload();
                }
            });
        }

        function DeleteUserDetails(SubAdminId) {

            var checkstr = confirm('Are you sure you want to delete this SubAdmin?');
            if (checkstr == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/" + ClientSessionData.ClientPortalLink + "/managesubadmin/DeleteSubAdmin")',
                    dataType: 'json',
                    data: { SubAdminId: SubAdminId },
                    success: function (result) {
                        location.reload();
                    }
                });
            }
        }

        function ActivateDeactivateClick(obj, SubAdminId) {
            debugger;
            var IsActive = 0;
            if ($(obj).is(':checked')) {
                IsActive = 1;
            }
            var checkstr = '';
            if (IsActive == 1) {
                checkstr = 'Are you sure you want to Activate this SubAdmin?';
            }
            else {
                checkstr = 'Are you sure you want to DeActivate this SubAdmin?';
            }
            if (confirm(checkstr)) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/" + ClientSessionData.ClientPortalLink + "/managesubadmin/ActivateDeActivateSubAdmin")',
                    dataType: 'json',
                    data: { SubAdminId: SubAdminId, IsActive: IsActive },
                    success: function (result) {
                        location.reload();
                    }
                });
            }
            else {
                if (IsActive == 1) {
                    $(obj).prop('checked', false);
                }
                else {
                    $(obj).prop('checked', true);
                }
            }

        }

        function ResendCredentialsMail(SubAdminId) {
            $("#dvLoaderIndex").show();

            $.ajax({
                type: 'GET',
                url: '@Url.Content("~/" + ClientSessionData.ClientPortalLink + "/managesubadmin/ResendCredentialsMail")',
                dataType: 'json',
                data: { SubAdminId: SubAdminId },
                success: function (data) {
                    if (data.result == "success") {
                        swal({
                            type: "success",
                            title: "Success",
                            showConfirmButton: true,
                            showCancelButton: false,
                            confirmButtonText: "OK",
                            closeOnConfirm: true,
                            text: "<b>" + data.Msg + "</b>",
                            html: true
                        }, function () {
                        });
                    }
                    else {
                        swal({
                            type: "warning",
                            title: "Failed",
                            showConfirmButton: true,
                            showCancelButton: false,
                            confirmButtonText: "OK",
                            closeOnConfirm: true,
                            text: "<b>" + data.Msg + "</b>",
                            html: true
                        });
                    }
                    $("#dvLoaderIndex").hide();
                },
                error: function (e) {
                    alert(e);
                }
            });
        }


    </script>

}
@section styles{
    <link href="@Url.Content("~/Content/css/sweetalert.css")" rel="stylesheet" />
}


<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        @if (TempData["CommonMessage"] != null)
        {
            @Html.Raw(TempData["CommonMessage"])
        }
        <div class="title_left">
            <h1>Manage Board Members</h1>
        </div>
        <div class="title_right">
            <div class="add-btn">
                <a href="javascript:void(0)" onclick="AddUserDetails()" data-toggle="modal" data-target="#add-sub-admin">Add Board Member</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row admin-dashboard">
        <div class="col-md-12 col-xs-12 table-section owner-board-table">
            <table cellpadding="0" cellspacing="0" border="0" id="SubAdminDetailsGrid">
                <thead>
                    <tr>
                        <td class="f-name">First Name</td>
                        <td class="l-name">Last Name</td>
                        <td class="email-id">Email Address</td>
                        <td class="position">Position</td>
                        <td class="added-on">Added On</td>
                        <td class="action">Action</td>
                    </tr>
                </thead>
                <tbody id="ListSubAdminBody">
                    @if (Model != null)
                    {
                        if (Model.Count() > 0)
                        {
                            { Html.RenderAction("ListSubAdmin", "ManageSubAdmin", new { Model = Model }); } <!-- admin-dashboard End -->
                            if (Model.Count() > 11)
                            {
                                <input id="hdnModelRecordCount" value=@Model.Count() type="hidden" />
                            }
                        }
                        else
                        {
                            <tr>
                                <td style="text-align:center" data-title="First Name" colspan="9" class="f-name">
                                    <span class="text-orange">No Record Found</span>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td style="text-align:center" data-title="First Name" colspan="9" class="f-name">
                                <span class="text-orange">No Record Found</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div id="dvLoader" style="display:none; text-align:center">
                <img src="@Url.Content("~/content/images/loader.gif")" alt="loader" />
            </div>
        </div>
    </div>
</div><!-- page content End -->
<!-- Modal Add Sub Admin -->
<div class="modal fade" id="add-sub-admin" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-popup add-request">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
            </div>

            <div id="AddSubAdminDiv">

            </div>
        </div>
    </div>
</div><!-- Modal Add Sub Admin End -->
<!-- Modal User detals Admin -->
<div class="modal fade" id="view-user-detal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-popup add-request bg-white">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
            <div id="SubAdminPrivilege">

            </div>
        </div>
    </div>
</div><!-- Modal User detals End -->
<!-- Modal Edit Sub Admin -->
<div class="modal fade" id="edit-sub-admin" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-popup add-request">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
            <div id="EditSubAdminDiv">

            </div>
        </div>
    </div>
</div><!-- Modal Edit Sub Admin End -->
