@model StratasFair.BusinessEntity.RenewSubscriptionModel

@{
    ViewBag.Title = "Renew Subscription";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="@Url.Content("~/Areas/Administrator/Content/plugins/datepicker/datepicker3.css")" />
<section class="content-header">
    <h1>
        Manage Subscription
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Content("~/securehost/rootlogin/dashBoard")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Manage Subscription</li>
    </ol>
    <div class="top-buttons-container">
        <a href="@Url.Content("~/securehost/rootlogin/client/listsubscription/"+ @Model.StratasBoardId)" class="btn btn-info">Back</a>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    Add Subscription

                </h3>
            </div>
            <div class="row"></div>
            @using (Html.BeginForm("AddSubscription", "Client", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.StratasBoardId)
                <div class="box-body fix-width">


                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.Label("Total Number of Users in Strata")  <br />
                            @Html.Label(@StratasFair.Business.CommonHelper.CommonData.GetStratasBoardTotalUser(@Model.StratasBoardId).ToString())
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.Label("Subscription Package")<br />
                            @Html.DropDownListFor(m => m.SubscriptionId, new SelectList(@StratasFair.Business.CommonHelper.CommonData.GetSubscriptionWithDaysList(), "Value", "Text"), "Select", new { @class = "form-control", @onchange="GetSubscriptionDetail(this);" })
                            @Html.ValidationMessageFor(m => m.SubscriptionId)
                        </div>
                    </div>

                    <div class="row" >
                        <div class="form-group col-md-6">
                            @Html.Label("Allowed users")<br />
                            @Html.TextBox("txtAllowedUser", "", new { @class = "form-control", @placeholder = "Allowed user", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="row" >
                        <div class="form-group col-md-6">
                            @Html.Label("SMS for Alert")<br />
                            @Html.TextBox("txtSmsForAlert", "", new { @class = "form-control", @placeholder = "SMS for Alert", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="row" >
                        <div class="form-group col-md-6">
                            @Html.Label("SMS for Reminder")<br />
                            @Html.TextBox("txtSmsForReminder", "", new { @class = "form-control", @placeholder = "SMS for Reminder", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="row" >
                        <div class="form-group col-md-6">
                            @Html.Label("Expiry Date")<br />
                            @Html.TextBox("txtExpiryDate", "", new { @class = "form-control", @placeholder = "Expiry Date", @readonly = "readonly" })
                        </div>
                    </div>


                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                    <a href='@Url.Content("~/securehost/rootlogin/client/listsubscription/" + @Model.StratasBoardId)' class="btn btn-warning">
                        Cancel
                    </a>
                </div>

            }
        </div>
    </div>
</section>

@section scripts{


    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
               
        });
        function GetSubscriptionDetail(obj) {
            var sid = $(obj).val();
            if (sid == "") {
                $("#txtAllowedUser").val('');
                $("#txtSmsForAlert").val('');
                $("#txtSmsForReminder").val('');
                $("#txtExpiryDate").val('');
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSubscriptionDetail")',
                    dataType: 'json',
                    data: { id: sid },
                    success: function (subDetail) {
                        $("#txtAllowedUser").val(subDetail.AllowedUser);
                        $("#txtSmsForAlert").val(subDetail.IsSmsForAlertText);
                        $("#txtSmsForReminder").val(subDetail.IsSmsForReminderText);
                        $("#txtExpiryDate").val(subDetail.SubscriptionWithValidity);
                    }
                });
            }
        }

        //$(function () {
        //    $('select#SubscriptionId').on('change', function () {
        //        alert($(this).val());
        //        BindSubscriptionData($(this).val());
        //    });
        //});

        @*function BindSubscriptionData(e) {
          
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetSubscriptionDetail")',
                dataType: 'json',
                data: { id: e },
                success: function (subDetail) {
                    $("#txtAllowedUser").val(subDetail.AllowedUser);
                    $("#txtSmsForAlert").val(subDetail.IsSmsForAlertText);
                    $("#txtSmsForReminder").val(subDetail.IsSmsForReminderText);
                    $("#txtExpiryDate").val(subDetail.SubscriptionWithValidity);
                }
            });
            return false;
        }*@


    </script>
}

