@*@model Tuple<ienumerable<Modeloe.BusinessEntity.Admin.RoleModels>, IEnumerable<Modeloe.BusinessEntity.Admin.RoleModels>, Modeloe.BusinessEntity.Admin.RoleModels>*@
@using StratasFair.Business.CommonHelper;
@{
    ViewBag.Title = "Manage Role";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="@Url.Content("~/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
}
<section class="content-header">
    <h1>
        Manage Role
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Content("~/securehost/rootlogin/dashBoard")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Manage Role</li>
    </ol>
    <div class="top-buttons-container">
        @*<a href="@Url.content("~/securehost/rootlogin/role/list")" class="btn btn-success">view</a>*@
        <a href="@Url.Content("~/securehost/rootlogin/role/add")" class="btn btn-info">Add</a>
    </div>
</section>
<!-- Main content -->
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1-1" data-toggle="tab">Active Roles</a></li>
                    <li><a href="#tab_2-2" data-toggle="tab">Inactive Roles</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1-1">
                        <div class="col-xs-12">
                            <div class="box">
                                @*<div class="box-header">
                                        <h3 class="box-title">
                                            Active Roles
                                        </h3>
                                    </div>*@
                                <div class="box-body table-responsive">
                                    @{
        var activeGrid = new ASPRazorWebGrid(source: Model.Item1, maintainState: false);
                                    }
                                    @activeGrid.GetHtml(columns: new ASPRazorWebGridColumn[]{
                                                //activeGrid.CreateColumn(dataField:"SerialNumber",headerText:"S.No.", width:"50px", headerHorizontalAlignment: "center", itemHorizontalAlignment: "center"),
                                                activeGrid.CreateColumn(dataField: "RoleName", headerText:"Role Name", canSort: false,headerHorizontalAlignment: "Left", itemHorizontalAlignment: "Left"),
                                                activeGrid.CreateColumn(dataField: "RoleDescription", headerText:"Role Description",canSort: false,headerHorizontalAlignment: "Left", itemHorizontalAlignment: "Left"),
                                                activeGrid.CreateColumn(headerText:"Action", headerHorizontalAlignment: "center", itemHorizontalAlignment: "center",
                                               dataFieldFormat:@<text><a title="Edit" href="@Url.Action("Edit", "Role", new { @RoleId = @item.RoleId })" class="fa fa-fw fa-edit"></a>
                                                    @if (item.RoleId != 1)
                                                    {
                                                        <text>&nbsp;| &nbsp;<a title="Delete" onclick="javascript:return ConfirmDelete();" href="@Url.Action("Delete", "Role", new { @RoleId = @item.RoleId })" class="fa fa-fw fa-trash-o"></a>&nbsp; | &nbsp;
                                                            <a title="In-Activate" onclick="javascript:return confirm('Are you sure to in-activate this record?')" href="@Url.Action("InActivate", "Role", new { @RoleId = @item.RoleId })" class="fa fa-fw fa-ban"></a></text>
                                                    }</text>)
                                                },
                         tableStyle: "table table-bordered table-hover",
                         headerStyle: "head",
                         alternatingRowStyle: "alt",
                         tableId: "activeTable")
                                    <script type="text/javascript">
                                        function ConfirmDelete() {
                                            return confirm("Are you sure you want to delete role?");
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_2-2">
                        <div class="col-xs-12">
                            <div class="box">
                                @*<div class="box-header">
                                        <h3 class="box-title">
                                            Inactive Roles
                                        </h3>
                                    </div>*@
                                <div class="box-body table-responsive">
                                    @{
        var inActiveGrid = new ASPRazorWebGrid(source: Model.Item2, maintainState: false);
                                    }
                                    @inActiveGrid.GetHtml(columns: new ASPRazorWebGridColumn[]{
                                                //inActiveGrid.CreateColumn(dataField:"SerialNumber",headerText:"S.No.", width:"50px", headerHorizontalAlignment: "center", itemHorizontalAlignment: "center"),
                                                inActiveGrid.CreateColumn(dataField: "RoleName", headerText:"Role Name", canSort: false,headerHorizontalAlignment: "left", itemHorizontalAlignment: "left"),
                                                inActiveGrid.CreateColumn(dataField: "RoleDescription", headerText:"Role Description",canSort: false,headerHorizontalAlignment: "left", itemHorizontalAlignment: "left"),
                                                inActiveGrid.CreateColumn(headerText:"Activate", headerHorizontalAlignment: "center", itemHorizontalAlignment: "center",
                                                dataFieldFormat:@<text><a title="Edit" href="@Url.Action("Edit", "Role", new { @RoleId = @item.RoleId })" class="fa fa-fw fa-edit"></a>
                                                    @if (item.RoleId != 1)
                                                    {
                                                        <text>&nbsp;| &nbsp;<a title="Delete" onclick="javascript:return ConfirmDelete();" href="@Url.Action("Delete", "Role", new { @RoleId = @item.RoleId })" class="fa fa-fw fa-trash-o"></a>&nbsp; | &nbsp;
                                                            <a title="Activate" onclick="javascript:return confirm('Are you sure to activate this record?')" href="@Url.Action("Activate", "Role", new { @RoleId = @item.RoleId })" class="fa fa-fw fa-ban"></a></text>
                                                    }</text>)
                                                },
         tableStyle: "table table-bordered table-hover",
         headerStyle: "head",
         alternatingRowStyle: "alt",
         tableId: "in-activeTable")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cl">
                </div>
            </div>
        </div>
    }
</section>
@section scripts{
    <script src="@Url.Content("~/Areas/Administrator/Content/plugins/datatables/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
    $(function () {
        var pagesize = '@CommonData.FetchSettingValue("Admin.PageSize.Small")';
        var activeCount = "@Model.Item1.Count";
        var deactiveCount = "@Model.Item2.Count";

        $('#activeTable').DataTable({
            "paging": activeCount > 0 ? true : false,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": false,
            "pageLength": parseInt(pagesize)

        });
        $('#in-activeTable').DataTable({
            "paging": deactiveCount > 0 ? true : false,
            "lengthChange": false,
            "searching": true,
            "ordering": deactiveCount > 0 ? true : false,
            "info": false,
            "pageLength": parseInt(pagesize)

        });
        //$('#in-activeTable').dataTable();
    });
    </script>

}


