@model List<StratasFair.BusinessEntity.Front.PollQuestionModel>
@{
    ViewBag.Title = "Owner Poll";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
@section styles
{
    <link href="@Url.Content("~/Content/css/sweetalert.css")" rel="stylesheet" />
}

<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h1>Polls</h1>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-xs-12 polls-section">
            <ul id="poll-data"></ul>
            <div id="NoRecord">No records found</div>
            <div id="NoMoreRecord">No more records</div>
        </div>
        <div id="divLoader" style="display:none;">
            <img src="@Url.Content("~/Content/images/loader.gif")" style="margin:0 auto;" />
        </div>
    </div>
</div><!-- page content End -->
<div class="clearfix"></div>
<!-- Modal View Results -->
<div class="modal fade" id="graphical-view" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-popup polls-chart">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body" id="modal-body">

            </div>
        </div>
    </div>
</div><!-- Modal View Results End -->
<div class="clearfix"></div>
<!-- footer content -->
@section scripts
{
    <script src="@Url.Content("~/Scripts/sweetalert.js")"></script>
    <script>
        var pageNo = 1;
        var hasMorePage = 0;
        $(function () {
            loadPollList(pageNo);
        });

        $(window).scroll(function () {
            if (hasMorePage > 0) {
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                    pageNo = pageNo + 1;
                    loadPollList(pageNo);
                }
            }
        });


        function submitOpinion(optId, pollId) {
            swal({
                title: "Are you sure?",
                text: "Once submitted you will not be able to edit your selection!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, submit it!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (confirm) {
                if (!confirm) {
                    $("#div-" + pollId).find(':input').prop('disabled', false).prop('checked', false);
                }
                else {
                    var url = '@(System.Configuration.ConfigurationManager.AppSettings["WebsiteRootPath"] + StratasFair.Business.Front.ClientSessionData.ClientPortalLink + "/ownerpoll/submitopinion")';
                    $.ajax({
                        url: url,
                        data: { optionid: optId, pollid: pollId },
                        type: 'post',
                        success: function (result) {
                            if (result > 0) {
                                $("#div-" + pollId).find(':input').prop('disabled', true);
                                $("#div-" + pollId).find("div.radiobox").addClass("disabled");
                                swal({
                                    title: "Thankyou",
                                    text: "Your opinion has submitted successfully!",
                                    imageurl: "/Content/images/thumbsUp.jpg"
                                });
                            }
                        }
                    });
                }
                swal.close();
            });
        }



        function showChart(heading, id) {
            var url = '@(System.Configuration.ConfigurationManager.AppSettings["WebsiteRootPath"] + StratasFair.Business.Front.ClientSessionData.ClientPortalLink + "/polls/showchart")';
            $.ajax({
                url: url,
                data: { pollid: id, caption: heading },
                contentType: 'application/html; charset=utf-8',
                dataType: 'html',
                type: 'get',
                success: function (result) {
                    $("#modal-body").html(result);
                }
            });
        }

        function loadPollList(pageNo) {
            $("#divLoader").show();
            var url = '@(System.Configuration.ConfigurationManager.AppSettings["WebsiteRootPath"] + StratasFair.Business.Front.ClientSessionData.ClientPortalLink + "/ownerpoll/getpolllist")';
            $.ajax({
                url: url,
                data: { pageNo: pageNo },
                contentType: 'application/html; charset=utf-8',
                dataType: 'html',
                type: 'get',
                success: function (result) {
                    setTimeout(function () {
                        if (result.length == 0 || result == "0") {
                            hasMorePage = 0;
                            if (pageNo == 1)
                                $("#NoRecord").show();
                            else
                                $("#NoMoreRecord").show();
                        }
                        else {
                            hasMorePage = 1;
                            $("#poll-data").append(result);
                        }
                        $("#divLoader").hide();
                    }, 300);
                }
            });
        }
    </script>
}
