@model StratasFair.BusinessEntity.Front.ReminderModel

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">

    function FnAddMyReminderBegin() {
        $("#btnSubmit").hide();
        $("#dvLoader").show();
    }

    function FnAddMyReminderSuccess(data) {

        $("#btnSubmit").show();
        $("#dvLoader").hide();
        if (data.result == 1) {
            $("#RequestTitle").val('');
            $("#Details").val('');

            swal({
                type: "success",
                title: "Success",
                showConfirmButton: true,
                showCancelButton: false,
                confirmButtonText: "OK",
                closeOnConfirm: true,
                text: "<b>" + data.Msg + "</b>",
                html: true
            }, function () {
                window.location = window.location;
            });
        }
        else {
            swal({
                type: "warning",
                title: "Failed",
                showConfirmButton: true,
                showCancelButton: false,
                confirmButtonText: "OK",
                closeOnConfirm: true,
                text: "<b>" + data.Msg + "</b>",
                html: true
            });
        }
    }
</script>

<div class="modal-body">
    <h5 class="text-center">Add Reminder</h5>

    @using (Ajax.BeginForm("AddMyReminder", "MyReminder", FormMethod.Post, new AjaxOptions { OnSuccess = "FnAddMyReminderSuccess(data)", OnBegin = "FnAddMyReminderBegin()" }, new { @class = "form-section", @id = "frmAddMyReminder" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Subject<span class="required">*</span></label>
                    @Html.TextBoxFor(m => m.ReminderSubject, new { @class = "form-control", @maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.ReminderSubject)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Text Message Reminder (SMS)</label>
                    @Html.TextAreaFor(m => m.SmsText, new { @class = "form-control", @maxlength = "140", @placeholder = "Limit :- 140 Characters" })
                    @Html.ValidationMessageFor(m => m.SmsText)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Email Message Reminder</label>
                    @Html.TextAreaFor(m => m.ReminderNote, new { @class = "form-control", @maxlength = "500", @placeholder = "Limit :- 500 Characters" })
                    @Html.ValidationMessageFor(m => m.ReminderNote)

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Date<span class="required">*</span></label>
                    @Html.TextBoxFor(m => m.StartDateTime, new { @id = "datepicker", @class = "calendar-icon form-control" })
                    @Html.ValidationMessageFor(m => m.StartDateTime)
                </div>
            </div>
        </div>
        <div class="row start-date">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Time<span class="required">*</span></label>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            @Html.DropDownList("StartTimeHour", new List<SelectListItem>
                                {
                                    new SelectListItem{ Text="01", Value = "01" },
                                    new SelectListItem{ Text="02", Value = "02" },
                                    new SelectListItem{ Text="03", Value = "03" },
                                    new SelectListItem{ Text="04", Value = "04" },
                                    new SelectListItem{ Text="05", Value = "05" },
                                    new SelectListItem{ Text="06", Value = "06" },
                                    new SelectListItem{ Text="07", Value = "07" },
                                    new SelectListItem{ Text="08", Value = "08" },
                                    new SelectListItem{ Text="09", Value = "09" },
                                    new SelectListItem{ Text="10", Value = "10" },
                                    new SelectListItem{ Text="11", Value = "11" },
                                    new SelectListItem{ Text="12", Value = "12" }
                                }, "Hour", new { @class="selectpicker form-control", @InitialValue = "Hour"})
                            @Html.ValidationMessage("StartTimeHour")
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            @Html.DropDownList("StartTimeMinute", new List<SelectListItem>
                                {
                                    new SelectListItem{ Text="00", Value = "00" },
                                    new SelectListItem{ Text="15", Value = "15" },
                                    new SelectListItem{ Text="30", Value = "30" },
                                    new SelectListItem{ Text="45", Value = "45" }
                                }, "Minute", new { @class = "selectpicker form-control", @InitialValue = "Minute" })
                            @Html.ValidationMessage("StartTimeMinute")
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          @Html.DropDownList("StartTimeAmPm", new List<SelectListItem>
                                {
                                    new SelectListItem{ Text="AM", Value = "AM", Selected=true },
                                    new SelectListItem{ Text="PM", Value = "PM" }
                                }, "AM", new { @class = "selectpicker form-control" })
                        @Html.ValidationMessage("StartTimeAmPm")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 occurrence-type">
            <div class="form-group">
                <p>Occurrence<span class="required">*</span></p>
                <div class="radiobox">
                    @Html.RadioButtonFor(m => m.Occurrence, 1, new { @id = "once", @checked = true })
                    <label for="once">Once</label>
                </div>
                <div class="radiobox">
                    @Html.RadioButtonFor(m => m.Occurrence, 2, new { @id = "daily" })
                    <label for="daily">Daily</label>
                </div>
                <div class="radiobox">
                    @Html.RadioButtonFor(m => m.Occurrence, 3, new { @id = "weekly" })
                    <label for="weekly">Weekly</label>
                </div>
                <div class="radiobox">
                    @Html.RadioButtonFor(m => m.Occurrence, 4, new { @id = "Bi-weekly" })
                    <label for="Bi-weekly">Bi-Weekly</label>
                </div>
                <div class="radiobox">
                    @Html.RadioButtonFor(m => m.Occurrence, 5, new { @id = "monthly" })
                    <label for="monthly">Monthly</label>
                </div>
                <div class="radiobox">
                    @Html.RadioButtonFor(m => m.Occurrence, 6, new { @id = "quarterly" })
                    <label for="quarterly">Quarterly</label>
                </div>
                <div class="radiobox">
                    @Html.RadioButtonFor(m => m.Occurrence, 7, new { @id = "semi-annually" })
                    <label for="semi-annually">Semi-Annually</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="form-group">
                    <input name="submit" value="Submit" class="btn btn-sm btn-block btn-yellow" type="submit">
                </div>
            </div>
        </div>
    }<!-- Form End -->
</div>

