@model IEnumerable<StratasFair.BusinessEntity.Front.ReminderModel>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td data-title="Note" class="note">@item.ReminderNote</td>
                    <td data-title="Start" class="start">@item.StartDateTime </td>
                    <td data-title="Subject" style="text-align:left" class="subject">@item.ReminderSubject</td>
                    <td data-title="Recurrence" class="recurrence">@item.ReminderOccurrence</td>
                    <td data-title="Action" class="action">
                        <a href="javascript:void(0)" onclick="EditMyReminderDetails(@item.ReminderId)" data-toggle="modal" data-target="#Edit-MyReminder" data-placement="bottom" title="Edit">
                            <i class="fa fa-pencil" aria-hidden="true"></i>

                        </a>
                        @*@Html.ActionLink("Edit", "EditMyReminder", new { ReminderId = item.ReminderId });*@
                        <a href="javascript:void(0)" onclick="DeleteMyReminderDetails(@item.ReminderId)" data-toggle="tooltip" data-placement="bottom" title="Delete">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                    <!-- Modal  Add Reminder -->
                   
                </tr>
              
            }
        }
        else
        {
            <tr>
                <td style="text-align:center" data-title="First Name" colspan="9" class="f-name">
                    <span class="text-orange">No Record Found</span>
                </td>
            </tr>
        }
    }
}
